.notice-list{
    display: flex;
    gap:3rem 1rem;
    flex-wrap:wrap;
    margin:5rem 0;
    li{
        width: calc(33.33% - 1rem);
    }
}

.more-btn{
    &-box{
        display: flex;
        align-content: center;
        justify-content: center;
        margin:5rem 0;
    }
}